body{
	background-color: #FFED06;
}
p{
	font-family: 'Saira', sans-serif;
}
p#tigerkilled{
	font-family: 'PT Sans Narrow', sans-serif;
}
h1{
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color:#DD50FF;
}